:root {
    --primary-text: #111827;
    --secondary-text: #6B7280;
    --primary-main: #243798;
    --white: #fff;
    --card_background: #Ecf4ff
}

body {
    color: var(--primary-text);
}

.card {
    background-color: var(--card_background);
}

.card .card-body {
    background-color: var(--white);
}

.table-striped tbody tr:nth-child(odd) {
    background-color: var(--card_background);
}

.main-sidebar {
    background-color: var(--card_background);
}

.brand-text,
#jazzy-sidebar>div>div>div.info>a,
.user-profile,
.nav-item p,
.nav-item i {
    color: var(--primary-text);
}

[class*=sidebar-dark-] .nav-header {
    color: var(--secondary-text);
}

.card-body .table-responsive,
.content-wrapper {
    background-color: var(--white);
}

.btn-success,
.btn-primary {
    background-color: var(--primary-main);
    color: var(--white);
    border-color: var(--primary-main);
}

.alert-success {
    background-color: var(--card_background);
    color: var(--primary-text);
    border-color: var(--card_background);
}

.img-circle.brand-image.elevation-3 {
    border-radius: 0;
    box-shadow: none !important;
    opacity: 1 !important;
}