{% extends "base.html" %}

{% block title %}SosRs|Carona{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="jumbotron-custom">
        <h1 class="display-4">Sobre o SOS RS Caronas</h1>
        <span class="text-muted">Powered by <a href="https://ateliware.com.br">ateliware</a></span>
        <p class="lead">O SOS RS Caronas é uma aplicação dedicada a conectar pessoas dispostas a oferecer caronas com indivíduos que buscam transporte para atuar como voluntários em áreas afetadas por enchentes no estado do Rio Grande do Sul.</p>
        <hr class="my-4">
        <h2>Propósito da Aplicação</h2>
        <p>A nossa aplicação tem como objetivo facilitar o acesso ao transporte para aqueles que desejam ajudar como voluntários em situações de emergência causadas por enchentes.</p>
        <h2>Coleta e Uso de Dados Pessoais</h2>
        <p>Para garantir a segurança e a verificação dos usuários, coletamos informações como nome, idade, telefone e foto de perfil durante o registro na plataforma. Esses dados são utilizados apenas para verificar os usuários e conectar os participantes da aplicação.</p>
        <h2>Verificação de Usuários</h2>
        <p>A verificação dos usuários é realizada por voluntários da comunidade, sem compartilhamento de dados pessoais. Este processo é essencial para garantir a segurança e confiabilidade da plataforma.</p>
        <h2>Responsabilidades dos Usuários</h2>
        <p>Ao utilizar o SOS RS Caronas, os usuários comprometem-se a fornecer informações precisas, respeitar as leis locais e agir de maneira ética e responsável durante as viagens compartilhadas.</p>
        <h2>Contato</h2>
        <p>Para mais informações ou dúvidas, entre em contato conosco pelo e-mail <a href="mailto:victor.silva@ateliware.com">victor.silva@ateliware.com</a>.</p>
        <h2>Isenção de Responsabilidade</h2>
        <p>A plataforma SOS RS Caronas destina-se exclusivamente a facilitar o contato entre pessoas que desejam realizar trabalho voluntário. Ressaltamos que a plataforma não se responsabiliza por quaisquer incidentes que possam ocorrer durante as viagens compartilhadas entre os usuários.</p>
    </div>
</div>

{% endblock %}
