a{% extends "base.html" %}

{% block title %}SosRs|Carona{% endblock %}

{% block content %}

<div class="container mt-1">
    <div class="jumbotron-custom">
        <h4>SOS RS Caronas</h4>
        <p>
            Esta é uma aplicação desenvolvida por voluntários e sem fins lucrativos, dedicada a conectar pessoas dispostas a oferecer caronas com indivíduos que buscam transporte para atuar como voluntários em áreas afetadas por enchentes no estado do Rio Grande do Sul.
        </p>
        <p>
            A plataforma foi criada com o objetivo de facilitar o deslocamento de voluntários para locais atingidos pela tragédia climática do Rio Grande do Sul em maio de 2024, promovendo a solidariedade e a colaboração entre os cidadãos. Ao compartilhar caronas, os usuários contribuem para minimizar os impactos das enchentes e auxiliar as comunidades afetadas.
        </p>
        <p>
            A segurança e o bem-estar dos usuários são prioridades para o SOS RS Caronas. Por isso, incentivamos a adoção de práticas seguras e responsáveis durante as viagens compartilhadas. A seguir, apresentamos algumas dicas e orientações para garantir uma experiência positiva para todos os participantes.
        </p>
        <hr />
        <h4>Dicas e recomendações de segurança</h4>
        <h5>Para Oferecedores de Caronas:</h5>
        <ul>
            <li><strong>Verifique as Informações:</strong> Certifique-se de verificar as informações do passageiro antes de oferecer a carona. Confira se os dados fornecidos correspondem às informações do perfil.</li>
            <li><strong>Defina as Expectativas:</strong> Comunique claramente os detalhes da viagem, incluindo horário, pontos de encontro e destino.</li>
            <li><strong>Respeite as Leis de Trânsito:</strong> Conduza de forma responsável e respeite todas as leis de trânsito para garantir a segurança de todos.</li>
            <li><strong>Ambiente Seguro:</strong> Mantenha um ambiente seguro e confortável no veículo. Evite discussões e comportamentos inadequados.</li>
        </ul>

        <h5>Para Passageiros:</h5>
        <ul>
            <li><strong>Verifique as Informações:</strong> Verifique se o motorista e o veículo correspondem às informações fornecidas no aplicativo antes de entrar no carro.</li>
            <li><strong>Compartilhe sua Localização:</strong> Informe amigos ou familiares sobre a sua viagem e compartilhe sua localização em tempo real, se possível.</li>
            <li><strong>Pontos de Encontro Seguros:</strong> Escolha pontos de encontro bem iluminados e movimentados para embarque e desembarque.</li>
            <li><strong>Confie na sua Intuição:</strong> Se algo parecer errado ou desconfortável, não hesite em cancelar a carona e sair da situação.</li>
        </ul>

        <h5>Regras Gerais:</h5>
        <ul>
            <li><strong>Perfil Completo:</strong> Complete seu perfil com informações verdadeiras e uma foto atualizada.</li>
            <li><strong>Comunicação:</strong> Mantenha uma comunicação clara e respeitosa com outros usuários.</li>
        </ul>
        <hr class="my-4">
        <h4>Coleta e uso de dados pessoais</h4>
        <p>
            Para garantir a segurança e a verificação dos usuários, coletamos informações como nome, idade, telefone, data de nascimento e foto de perfil durante o registro na plataforma. Esses dados são utilizados exclusivamente para verificar os usuários e conectar os participantes da aplicação.
        </p>
        <h4>Verificação de usuários</h4>
        <p>
            A verificação dos usuários é realizada por voluntários da comunidade, sem compartilhamento de dados pessoais. Este processo é essencial para garantir a segurança e a confiabilidade da plataforma.
        </p>
        <h4>Responsabilidades dos usuários</h4>
        <p>
            Ao utilizar o SOS RS Caronas, os usuários comprometem-se a fornecer informações precisas, respeitar as leis locais e agir de maneira ética e responsável durante as viagens compartilhadas.
        </p>
        <h4>Contato</h4>
        <p>
            Para mais informações ou dúvidas, entre em contato conosco pelo e-mail sosrscaronas@gmail.com.
        </p>
        <h4>Isenção de responsabilidade</h4>
        <p>
            A plataforma SOS RS Caronas destina-se exclusivamente a facilitar o contato entre pessoas que desejam realizar trabalho voluntário. Ressaltamos que a plataforma não se responsabiliza por quaisquer incidentes que possam ocorrer durante as viagens compartilhadas entre os usuários.
        </p>
        <hr />
        <p>
            Leia <a href="#term_of_use">aqui</a> os termos de uso da aplicação
        </p>
    </div>
    <br />
    <div id="term_of_use">
        <h5>Termos de uso | Versão {{ term_of_use.version }}</h5>
        <p>{{ term_of_use.content }}</p>
        <h5>Política de privacidade | Versão {{ privacy_policy.version }}</h5>
        <p>{{ privacy_policy.content }}</p>
    </div>
</div>

{% endblock %}
