{% extends "base.html" %}

{% block title %}SosRs|Carona{% endblock %}

{% block content %}

<div class="container mt-1">
    <div class="jumbotron-custom">
        <h4>Sobre a Aplicação</h4>
        <p>
            <strong>SOS RS Caronas</strong> é uma aplicação dedicada a conectar pessoas dispostas a oferecer caronas com indivíduos que buscam transporte para atuar como voluntários em áreas afetadas por enchentes no estado do Rio Grande do Sul.
        </p>
        <hr class="my-4">
        <h4>Coleta e uso de dados pessoais</h4>
        <p>
            Para garantir a segurança e a verificação dos usuários, coletamos informações como nome, idade, telefone, data de nascimento e foto de perfil durante o registro na plataforma. Esses dados são utilizados exclusivamente para verificar os usuários e conectar os participantes da aplicação.
        </p>
        <h4>Verificação de usuários</h4>
        <p>
            A verificação dos usuários é realizada por voluntários da comunidade, sem compartilhamento de dados pessoais. Este processo é essencial para garantir a segurança e a confiabilidade da plataforma.
        </p>
        <h4>Responsabilidades dos usuários</h4>
        <p>
            Ao utilizar o SOS RS Caronas, os usuários comprometem-se a fornecer informações precisas, respeitar as leis locais e agir de maneira ética e responsável durante as viagens compartilhadas.
        </p>
        <h4>Contato</h4>
        <p>
            Para mais informações ou dúvidas, entre em contato conosco pelo e-mail sosrscaronas@gmail.com.
        </p>
        <h4>Isenção de responsabilidade</h4>
        <p>
            A plataforma SOS RS Caronas destina-se exclusivamente a facilitar o contato entre pessoas que desejam realizar trabalho voluntário. Ressaltamos que a plataforma não se responsabiliza por quaisquer incidentes que possam ocorrer durante as viagens compartilhadas entre os usuários.
        </p>
        <hr />
        <p>
            Leia <a href="#term_of_use">aqui</a> os termos de uso da aplicação
        </p>
    </div>
    <br />
    <div id="term_of_use">
        <h5>Termos de uso | Versão {{ term_of_use.version }}</h5>
        <p>{{ term_of_use.content }}</p>
        <h5>Política de privacidade | Versão {{ privacy_policy.version }}</h5>
        <p>{{ privacy_policy.content }}</p>
    </div>
</div>

{% endblock %}
