<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for additional styling -->
    <style>
        body {
            padding-top: 70px; /* Ensure content doesn't go behind the fixed navbar */
        }
        .navbar {
            background-color: #007bff; /* Navbar background color (Bootstrap primary) */
        }
        .navbar-brand {
            color: #fff; /* Navbar brand (logo) text color */
        }
        .navbar-nav .nav-item .nav-link {
            color: #fff; /* Navbar link text color */
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">SosRS | Caronas</a>
            <button class="btn" type="button">
                <a href="{% url 'logout' %}" style="text-decoration: none; color: white;">
                    <span class="me-2"><i class="material-icons" style="color: white;">exit_to_app</i></span>
                </a>
            </button>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-3">
        {% comment %} <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link" href="#">Caronas</a>
            <a class="nav-item nav-link" href="#">Voluntariado</a>
        </nav> {% endcomment %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS (optional, for Bootstrap components) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
