{% extends "base.html" %}

{% block title %}SosRs|Carona{% endblock %}

{% block content %}
<div class="container mt-5">
  {% if need_evaluation %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p>Você tem passageiros aguardando aprovação.
          Clique <a href="{% url 'my_rides' %}" class="alert-link">aqui</a> para verificar. </p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endif %}
  <div class="card w-100">
    <div class="jumbotron-custom">
        <h1 class="display-5">Olá {{ request.user }}</h1>
        <p class="lead">Que bom te ter aqui :) </p>
        <hr class="my-4">
        <p>Cadastre seu veículo, agende uma viagem e deixe outros voluntários lhe encontrarem.</p>
        <a class="btn btn-outline-primary btn-lg" href="{% url 'create_ride' %}" role="button">Vamos lá</a>
    </div>
  </div>
  <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title"> Buscar Carona</h5>
        <p class="card-text">Encontre carona para os lugares afetados para atuar como voluntário</p>
        <a href="{% url 'list_rides' %}" class="btn btn-outline-primary btn-lg">Buscar Caronas</a>
      </div>
  </div>
  <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title"> Minhas Caronas</h5>
        <p class="card-text">Acompanhe as caronas que você ofereceu</p>
        <a href="{% url 'my_rides' %}" class="btn btn-outline-primary btn-lg">Ir para minhas Caronas</a>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="homeCautionModal" tabindex="-1" aria-labelledby="cautionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cautionModalLabel">Atenção</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h4>Atenção aos Usuários do SOS RS Caronas</h4>
              <p>O SOS RS Caronas atua apenas como uma plataforma gratuita, desenvolvida por voluntários, para conectar motoristas e passageiros. Embora nos esforcemos para verificar a autenticidade dos perfis, não nos responsabilizamos por incidentes que possam ocorrer durante as viagens. A segurança e o comportamento responsável são de responsabilidade dos próprios usuários.</p>
              <p>Ao oferecer ou aceitar caronas por meio desta aplicação, é essencial seguir orientações básicas de segurança para garantir uma experiência segura e positiva para todos os participantes:</p>
              <p>Agradecemos pela sua colaboração e desejamos uma viagem segura e agradável!</p>
              <p>Saiba mais dicas de segurança clicando <a href="{% url 'about' %}">aqui</a>.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ciente</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}
