{% extends 'base.html' %}
{% block title %}SosRs|Carona{% endblock %}
{% block content %}
    <div class="container mt-1">
        <p>Digite o código de validação enviado via SMS no seu telefone:</p>
        <form method="post">
            {% csrf_token %}
            
            <!-- Verification code inputs -->
            <div class="form-row mb-4">
                <div class="col">
                    <input type="text" class="form-control" name="code1" maxlength="1" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="code2" maxlength="1" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="code3" maxlength="1" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="code4" maxlength="1" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="code5" maxlength="1" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="code6" maxlength="1" required>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Validar</button>
        </form>
    </div>
{% endblock %}