{% extends "base.html" %}

{% block title %}SosRs|Carona - Encontre Caronas{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if user.is_authenticated %}
        <div class="d-flex align-items-center mb-4">
            <a href="{% url 'home' %}" class="btn btn-light me-2">
                <i class="material-icons">arrow_back</i>
            </a>
            <h4 class="mb-0">Encontrar Carona</h4>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header" id="collapseHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="true" aria-controls="collapseForm">
                        Aplicar Filtros
                    </button>
                </h5>
            </div>
            <div id="collapseForm" class="collapse show" aria-labelledby="collapseHeader">
                <div class="card-body">
                    <form method="get">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="origin">Origem<small>*</small></label>
                                    <select class="form-control" id="origin" name="origin" required>
                                        <option value="">Selecione a origem</option>
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="destination">Destino</label>
                                    <select class="form-control" id="destination" name="destination" required>
                                        <option value="any_destination">Qualquer destino</option>
                                        {% for affected_place in affected_places %}
                                            <option value="{{ affected_place.pk }}">{{ affected_place.city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="date">Data <small class="text-secondary">(Opcional)</small></label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-end">
                                <button type="submit" class="btn btn-outline-primary w-100">Buscar</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h6> Mostrando caronas encontradas ({{ rides|length }})</h6>
                {% if filters %}
                    <span class="text-muted">
                        <small>{{ filters }}</small>
                    </span>
                {% endif %}
            </div>
        </div>
        <hr />
        <!-- Ride Cards -->
        <div class="row justify-content-center">
            {% for ride in rides %}                
                {% if ride.driver.user != user %}
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fas fa-car"></i>
                                {{ ride.destination }}
                                <span class="badge badge-primary float-right">ABERTA</span>
                            </h5>
                            <p class="card-text"><i class="fas fa-user"></i> Motorista: {{ ride.driver }}</p>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> Saindo de {{ ride.origin }}</p>
                            <p class="card-text"><i class="far fa-calendar-alt"></i> {{ ride.date }} | {{ ride.get_work_shift_display }}</p>
                            <p class="card-text"><i class="fas fa-users"></i> {{ ride.quantity_of_passengers }} vagas | {{ ride.confirmed_passengers_count }} confirmados</p>
                            
                            {% if user.is_authenticated %}
                                <a href="{% url 'ride_detail' ride.pk %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Ver Detalhes </a>
                            {% else %}
                                <a href="{% url 'ride_detail' ride.pk %}">
                                    <span class="text-muted">*Efetue o login para mais detalhes!</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if not rides %}
        <div class="jumbotron-custom">
            <h5 class="display-4">Ops!</h5>
            <hr class="my-4">
            <p class="lead">Ainda não há caronas ofertadas.</p>                
        </div>
        {% endif %}
    </div>
{% endblock %}