{% extends "base.html" %}

{% block title %}SosRs|Carona - Minhas Caronas{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <a href="{% url 'home' %}" class="btn btn-light">
                <i class="material-icons">arrow_back</i>
            </a>
            <h4 class="mb-4">Minhas Caronas</h4>
        </div>
        {% if not rides %}
        <div class="jumbotron">
            <h1 class="display-5">Oferte uma Carona!</h1>
            <hr class="my-4">
            <p>Você ainda não possui caronas ofertadas.</p>
            <a class="btn btn-outline-primary btn-lg" href="{% url 'create_ride' %}" role="button">Vamos lá</a>
        </div>
        {% endif %}
        
        <!-- Ride Cards -->
        <div class="row justify-content-center">
            {% for ride in rides %}
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>
                                {% if ride.has_passenger_waiting_confirmation %}
                                    <span class="badge bg-warning">Há passageiros aguardando confirmação</span>
                                {% endif %}
                            </p>
                            <h5 class="card-title"><i class="fas fa-car"></i> {{ ride.destination }} <span class="badge bg-success">{{ ride.status }}</span> </h5>
                            <p class="card-text"><i class="fas fa-user"></i> {{ ride.driver }}</p>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> Saindo de {{ ride.origin }}</p>
                            <p class="card-text"><i class="far fa-calendar-alt"></i> {{ ride.date }} | {{ ride.work_shift }}</p>
                            <p class="card-text"><i class="fas fa-users"></i> {{ ride.quantity_of_passengers }} vagas | {{ ride.num_passengers }} confirmados</p>
                           
                            <a href="{% url 'ride_detail' ride.pk %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Ver Detalhes </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}