{% extends "base.html" %}

{% block title %}SosRs|Carona - Minhas Caronas{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex align-items-center mb-4">
            <a href="{% url 'home' %}" class="btn btn-light me-2">
                <i class="material-icons">arrow_back</i>
            </a>
            <h4 class="mb-0">Minhas Caronas</h4>
        </div>
        {% if not rides_as_driver and not ride_as_passenger %}
        <div class="jumbotron-custom">
            <h1 class="display-5">Oferte uma Carona!</h1>
            {% comment %} <p class="lead">This is the home page of my Django website.</p> {% endcomment %}
            <hr class="my-4">
            <p>Você ainda não possui caronas ofertadas.</p>
            <a class="btn btn-outline-primary btn-lg" href="{% url 'create_ride' %}" role="button">Vamos lá</a>
        </div>
        {% endif %}
        <hr />

        {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <!-- Ride Cards -->
        <div class="row">
            <h4 class="ml-4">
                Caronas que você ofereceu
            </h4>
        </div>
        <div class="row justify-content-center">
            {% for ride in rides_as_driver %}
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <p>
                                {% if ride.has_passenger_waiting_confirmation %}
                                    <span class="badge bg-warning">Há passageiros aguardando confirmação</span>
                                {% endif %}
                            </p>
                            <h5 class="card-title">
                                <i class="fas fa-car"></i> 
                                {{ ride.destination }}
                                
                                {% if status == "CROWDED" %}
                                    <span class="badge bg-info">{{ ride.get_status_display }}</span>
                                {% elif ride.status == "UNDER_REVIEW" %}
                                    <span class="badge bg-warning">{{ ride.get_status_display }}</span>
                                {% else %}
                                    <span class="badge bg-success">{{ ride.get_status_display }}</span>
                                {% endif %}
                            </h5>
                            <p class="card-text text-primary"><i class="fas fa-user"></i> {{ ride.driver }}</p>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> Saindo de {{ ride.origin }}</p>
                            <p class="card-text"><i class="far fa-calendar-alt"></i> {{ ride.date }} | {{ ride.get_work_shift_display }}</p>
                            <p class="card-text"><i class="fas fa-users"></i> {{ ride.quantity_of_passengers }} vagas | {{ ride.confirmed_passengers_count }} confirmados</p>
                           
                            <a href="{% url 'ride_detail' ride.pk %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Ver Detalhes </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr />
        <div class="row">
            <h4 class="ml-4">Caronas que você solicitou</h4>
        </div>
        <div class="row justify-content-center">
            {% for ride in rides_as_passenger %}
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fas fa-car"></i> 
                                {{ ride.destination }}
                                <span class="badge badge-primary float-right">ABERTA</span>
                            </h5>
                            {% if ride.passenger_status == "PENDING" %}
                                <p class="card-text text-warning">
                                    <i class="fas fa-spinner fa-spin"></i>
                                    Aguardando confirmação
                                </p>
                            {% elif ride.passenger_status == "ACCEPTED" %}
                                <p class="card-text text-success">
                                    <i class="fas fa-check"></i>
                                    Confirmado
                                </p>
                            {% elif ride.passenger_status == "DECLINED" %}
                                <p class="card-text text-danger">
                                    <i class="fas fa-times"></i>
                                    Rejeitado
                                </p>
                            {% endif %}
                            <p class="card-text text-primary"><i class="fas fa-user"></i> {{ ride.driver }}</p>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> Saindo de {{ ride.origin }}</p>
                            <p class="card-text"><i class="far fa-calendar-alt"></i> {{ ride.date }} | {{ ride.work_shift }}</p>
                            <p class="card-text"><i class="fas fa-users"></i> {{ ride.quantity_of_passengers }} vagas | {{ ride.confirmed_passengers_count }} confirmados</p>
                           
                            <a href="{% url 'ride_detail' ride.pk %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Ver Detalhes </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}