{% extends "base.html" %}

{% block title %}SosRs|Carona - Detalhes da Carona{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="card w-100">
            <!-- Showing message info if exists-->
            {% if message %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Hey! </strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ referer }}" class="btn btn-light">
                        <i class="material-icons">arrow_back</i>
                    </a>
                    Dados da Carona
                </h5>
                <hr />
                <div class="alert alert-primary">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        Origem: <strong>{{ ride.origin }} </strong>
                    </span> <br>
                    <span>
                        <i class="fas fa-map marker-alt"></i>
                        Destino: <strong>{{ ride.destination }}</strong>
                    </span> <br>
                    <span>
                        <i class="far fa-calendar-alt"></i>
                        Data: <strong>{{ ride.date }}</strong>
                    </span> <br>
                    <span>
                        <i class="far fa-clock"></i>
                        Turno: <strong>{{ ride.get_work_shift_display }}</strong>
                    </span> <br>
                    <span>
                        <i class="fas fa-bullseye"></i>
                        Objetivo: <strong>{{ ride.goal_of_the_ride }}</strong>
                    </span> <br>
                    <span>
                        <i class="fas fa-users"></i>
                        Vagas ofertadas: <strong>{{ ride.quantity_of_passengers }}</strong>
                    </span> <br>
                </div>
                <hr />
                <div class="alert">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-car"></i>
                        Dados do Veículo
                    </h6>
                    <p>
                        <span>{{ ride.vehicle.model }} - {{ ride.vehicle.color }}</span> <br>
                        {% if is_passenger_confirmed or is_driver %}
                            <span> Placa: {{ ride.vehicle.plate }}</span> <br>
                        {% else %}
                            <span> <small> *A placa do veículo será exibida para caronas confirmadas. </small></span> <br>
                        {% endif %}
                    </p>
                </div>
                <hr />
                {% if not is_driver %}
                <div class="alert">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-user"></i>
                        Dados do Motorista
                    </h6>
                    <p>
                        <span>{{ ride.driver }}</span> <br />
                        {% if is_passenger_in_ride %}
                            <span>
                                {{ ride.driver.phone }}
                                <a
                                    href="#"
                                    onclick="sendLinkToWhats('{{ ride.driver.phone }}', 'Olá, te encontrei no SosRS | Caronas, gostaria de checar algumas informações')"
                                    class="btn btn-success btn-sm">
                                    <i class="fab fa-whatsapp"></i> 
                                </a>
                            </span>
                        {% else %}
                            <span><small>*Os dados do motorista serão exibidos para caronas confirmadas. </small></span>
                        {% endif %}
                    </p>
                </div>
                <hr />
                {% endif %}
                <div class="alert">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-users"></i>
                        Passageiros
                    </h6>
                    <div class="row">
                        {% if not passengers and is_driver %}
                            <div class="col-md-12">
                                <div class="alert alert-warning">Você ainda não possui passageiros confirmados.</div>
                            </div>
                        {% elif not passengers and not is_driver %}
                            <div class="col-md-12">
                                <div class="alert alert-warning">Você poderá visualizar os dados dos demais passageiros quando estiver confirmado na carona.</div>
                            </div>
                        {% endif %}
                        {% for passenger in passengers %}
                            <div class="col-md-12 mb-1">
                                <div class="card">
                                    <div class="card-body">
                                        {% if passenger.status == "PENDING" %}
                                            <p class="card-text text-warning">
                                                <i class="fas fa-spinner fa-spin"></i>
                                                {{ passenger.get_status_display }}
                                            </p>
                                        {% elif passenger.status == "ACCEPTED" %}
                                            <p class="card-text text-success">
                                                <i class="fas fa-check"></i>
                                                {{ passenger.get_status_display }}
                                            </p>
                                        {% elif passenger.status == "DECLINED" %}
                                            <p class="card-text text-danger">
                                                <i class="fas fa-times"></i>
                                                {{ passenger.get_status_display }}
                                            </p>
                                        {% endif %}
                                        <span>
                                            {{ passenger.person.name }}
                                            {% if user.person != passenger.person %}
                                                <a href="#" onclick="sendLinkToWhats('{{ passenger.person.phone }}', 'Olá, te encontrei no SosRS | Caronas, gostaria de checar algumas informações.')" class="btn btn-outline-success btn-sm">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                            {% endif %}
                                        </span> <br>
                                        <span>{{ passenger.person.birth_date }}</span> <br>
                                        {% if is_driver and passenger.status == "PENDING" %}
                                            <div class="d-flex justify-content-between align-items-center mt-3">
                                                <a href="{% url 'ride_passenger_confirmation' ride.pk passenger.pk%}" class="btn btn-outline-primary me-2">Aceitar</a>
                                                {% comment %} <a href="#" class="btn btn-outline-danger flex-grow-1">Negar</a> {% endcomment %}
                                            </div>
                                        {% endif %}
                                        <span class="mutted"><small>*Solicitado em {{ passenger.created_at }}</small></span> <br />
                                        {% if user.person == passenger.person and passenger.status == "PENDING" %}
                                            <!-- Button to trigger WhatsApp confirmation -->
                                            <a href="#" onclick="sendLinkToWhats('{{ ride.driver.phone }}', 'Olá, um passageiro do SosRs Caronas está solicitando sua aprovação em uma carona, acesse a aplicação para confirmar clicando em https://sosrscaronas.com.br/')" class="btn btn-success btn-sm">       
                                                <i class="fab fa-whatsapp"></i>
                                                Solicitar confirmação
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if not is_driver and not is_passenger_in_ride %}
                    <button onclick="confirmSolicitation('{{ ride.uuid }}')" class="btn btn-outline-primary">Solicitar Carona</button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmação de Solicitação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Atenção</strong><br>
                        Ao oferecer ou aceitar caronas por meio desta aplicação, é essencial seguir orientações básicas de segurança para garantir uma experiência segura e positiva para todos os participantes. Clique <a href="{% url 'about' %}">aqui</a> para mais informações.
                    </p>
                    <p>Tem certeza de que deseja enviar a solicitação?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmButton">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function sendLinkToWhats(number, text){
            // js regex to remove ()- for the number
            phone = number.replace(/\D/g, '');
            
            const url = `https://wa.me/${phone}?text=${text}`;
            console.log(url)
            window.open(url);
        }
    </script>

    {% block scripts %}
        <script>
            function confirmSolicitation(rideUuid) {
                // Store the ride UUID in a data attribute of the confirm button
                $('#confirmButton').data('rideUuid', rideUuid);

                // Show the modal
                $('#confirmationModal').modal('show');
            }

            // Handle the confirm button click event
            $('#confirmButton').on('click', function() {
                var rideUuid = $(this).data('rideUuid');
                window.location.href = `/ride/solicitation/${rideUuid}`;
            });
        </script>
    {% endblock %}
{% endblock  %}