{% extends "base.html" %}

{% block title %}SosRs|Carona - Detalhes da Carona{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="card w-100">
            <!-- Showing message info if exists-->
            {% if message %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Hey!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {% if is_driver %}
                        <a href="{% url 'my_rides' %}" class="btn btn-light">
                            <i class="material-icons">arrow_back</i>
                        </a>
                    {% else %}
                        <a href="{% url 'list_rides' %}" class="btn btn-light">
                            <i class="material-icons">arrow_back</i>
                        </a>
                    {% endif %}
                    Dados da Carona
                </h5>
                <hr />                
                <p>
                    <span>Origem: {{ ride.origin }}</span> <br>
                    <span>Destino: {{ ride.destination }}</span> <br>
                    <span>Data: {{ ride.date }}</span> <br>
                    <span>Turno: {{ ride.work_shift }}</span> <br>
                    <span>Passageiros: {{ ride.quantity_of_passengers }}</span> <br>
                </p>
                <hr />
                {% if not is_driver %}
                <h6 class="card-subtitle mb-2 text-muted">Dados do Veículo</h6>
                <p>
                    <span>{{ ride.vehicle.model }} | {{ ride.vehicle.color }}</span> <br>
                    <span> Placa: {{ ride.vehicle.plate }}</span> <br>
                </p>
                <hr />
                <h6 class="card-subtitle mb-2 text-muted">Dados do Morotista</h6>
                <p>
                    <span>{{ ride.driver }}</span> <br>
                    <span>{{ ride.driver.phone }}</span> <br>                    
                </p>
                <hr />
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">Passageiros</h6>
                <div class="row">
                    {% if not passengers %}
                        <div class="col-md-12">
                            <div class="alert alert-warning">Nenhum passageiro confirmado até o momento.</div>
                        </div>
                    {% endif %}
                    {% for passenger in passengers %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <span>
                                        {% if passenger.status == "ACCEPTED" %}
                                            <i class="material-icons text-success">check</i>
                                        {% elif passenger.status == "REJECTED" %}
                                            <i class="material-icons text-danger">close</i>
                                        {% else %}
                                            <i class="material-icons text-warning">hourglass_empty</i>
                                        {% endif %}
                                    </span>
                                    <span>{{ passenger.person.name }}</span> <br>
                                    <span>{{ passenger.person.birth_date }}</span> <br>
                                    <span>{{ passenger.person.phone }}</span> <br>
                                    
                                    {% if is_driver and passenger.status == "PENDING" %}
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <a href="{% url 'ride_passenger_confirmation' ride.pk passenger.pk%}" class="btn btn-success flex-grow-1 me-2">Aceitar</a>
                                            <a href="#" class="btn btn-danger flex-grow-1">Negar</a>
                                        </div>
                                    {% endif %}
                                    
                                    {% if user.person == passenger.person %}
                                        <!-- Button to trigger WhatsApp confirmation -->
                                        <a href="#" onclick="sendWhatsAppConfirmation('{{ ride.driver.phone}}', '{{ ride.pk }}', '{{ passenger.pk }}')" class="btn btn-success btn-block mt-3">                           
                                            Solicitar confirmação via WhatsApp
                                        </a>
                                    {% endif %}
                                    <span class="mutted"><small>*Solicitado em {{ passenger.created_at }}</small></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if not is_driver and not is_waiting_confirmation %}   
                    <a href="#" id="ride_solicitation" onclick="confirmSolicitation('{{ ride.uuid }}')" class="btn btn-primary btn-block">Solicitar carona</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function confirmSolicitation(rideUuid) {
            if (confirm("Tem certeza de que deseja enviar a solicitação?")) {
                window.location.href = `/ride/solicitation/${rideUuid}`;
            }
        }

        function sendWhatsAppConfirmation(driver_phone, rideId, passengerId) {
            console.log(rideId, passengerId)
            driver_phone = '(54) 99184-9446'
            const text = `Olá, um passageiro do SosRs Caronas está solicitando sua aprovação na carona. \n
                          Acesse o link abaixo para confirmar: \n
                          http://localhost:8000/login`;
            
            // js regex to remove ()- for the number
            driver_phone = driver_phone.replace(/\D/g, '');
            
            const url = `https://wa.me/${driver_phone}?text=${text}`;
            window.open(url);
        }
    </script>
{% endblock  %}