<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de cidades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    
    <div class="container my-5">
        <div class="row">
            <h1>Cidades</h1>
        </div>
        {% if cities|length == 0 %}
        <div class="row">
            <p>Não existem cidades cadastradas. Por favor, cadastre uma cidade no painel de adminstrador e retorne para esta tela</p>
        </div>
        {% else %}
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for city in cities %}
                            <tr>
                                <th scope="row">{{ city.id }}</th>
                                <td>{{ city.name }}</td>
                                <td>{{ city.state.name }}</td>
                                <td>
                                    {% if city.is_active %}
                                    <i class="bi bi-check-circle text-success"></i>
                                    {% else %}
                                    <i class="bi bi-x-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>